.img-user {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(3, 64, 194);
}
.UserPage {
  overflow-x: scroll !important;
}
.UserPage::-webkit-scrollbar {
  display: none;
}

.UserPageLine {
  background-color: lightgray;
  width: 100%;
  margin: 0 20px;
  margin-bottom: 40px;
}
.handle-post {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-family: "Piazzolla", serif;
  color: rgb(2, 51, 100);
  margin: 0em;
  margin-top: -20px;
  margin-bottom: -40px;
}
.handle-user {
  font-size: 45px;
  font-weight: 500;
  font-style: normal;
  font-family: "Piazzolla", serif;
  color: rgb(2, 51, 100);
  margin: 0em;
  margin-top: -20px;
}

.user-email {
  color: black;
  font-weight: 600;
  padding: 0%;
  margin: 0px;
  font-family: monospace;
  font-size: large;
  font-family: "Piazzolla", serif;
}

.user-cake {
  margin-top: 20px;
  color: black;
  font-size: large;
  font-family: "Piazzolla", serif;
}

.score {
  font-weight: 500;
  color: black;
  margin: 0px;
  font-family: "Piazzolla", serif;
}
