.add-new-post {
    padding: 10px;
    background-color: #EEEEEE;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.add-new-post:hover{    
    background-color: white;
    border: 1px solid #0078d3;
}