.btn-select button {
  background-color: rgb(59, 133, 207);
  margin: 10px 20px;
  width: 200px;
}

.NotSignInPost {
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: gray !important;
  font-size: 7px;
  text-transform: uppercase;
}
.NotSignInLink {
  text-decoration: none !important;
  padding: 0 5px;
  text-transform: uppercase;
  color: #090979;
  text-shadow: 1px 1px 5px lightblue;
}
.sortPost {
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: gray !important;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
}
.sortPost > p {
  margin-bottom: 20px;
}
.sortPostButton {
  margin: 10px;
  width: 100%;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  background-color: #090979;
  transition: all 0.5s ease-in-out;
}
.sortPostButton:hover {
  background-color: #0606a0;
  box-shadow: inset 0px 0px 5px black;
}
