.btn-select button {
  background-color: rgb(59, 133, 207);
  margin: 10px 20px;
  width: 200px;
}

.NotSignInPost {
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: gray !important;
  font-size: 7px;
  text-transform: uppercase;
}
.NotSignInLink {
  text-decoration: none !important;
  padding: 0 5px;
  text-transform: uppercase;
  color: #090979;
  text-shadow: 1px 1px 5px lightblue;
}
.sortPost {
  height: 22vw;
  margin: 0 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: gray !important;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  word-wrap: break-word;
}
.sortPost > p {
  font-size: 1.3vw;
}
.sortPostButton {
  font-size: 1vw;
  margin: 0.5vw !important;
  width: 2vw;
  padding: 1.5vw 1.5vw;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  background-color: #090979 !important;
  transition: all 0.5s ease-in-out;
}
.sortPostButton:hover {
  background-color: #0606a0;
  box-shadow: inset 0px 0px 5px black;
}
.HomePageContainer {
  padding: 20px;
  background-color: rgb(234, 241, 245);
  display: flex;
  overflow-x: scroll;
}
.HomePageContainer::-webkit-scrollbar {
  display: none;
}
.HomePageBox {
  display: flex;
}
.HomePageUserDetailSection {
  flex: 0.2;
  margin: 0 20px;
}
.HomePageCreatePostSection {
  flex: 0.6;
  margin: 0 20px;
  overflow-y: scroll;
  max-height: 2000px;
}
.HomePageCreatePostSection::-webkit-scrollbar {
  display: none;
}
.HomePageSortAndAdSection {
  flex: 0.2;
  margin: 0 20px;
}
