.card-header {
  padding: 10px;
  background-color: rgb(59, 133, 207);
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  outline: none;
}
/*
    .add-new-post:hover{    
        background-color: white;
        border: 1px solid #0078d3;
    }*/

.post-link {
  padding: 10px;
}
.form-group {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

#text-area {
  height: 100px;
  width: 100%;
}

.btn-post {
  width: 100px;
  background: #090979;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 0px 3vw;
  margin-right: 50px;
  border: none;
  color: #fff;
  border-radius: 10px;
  box-shadow: inset 1px 1px 7px #fff;
  border-bottom: 2px solid rgb(3, 68, 153);
  border-top: 2px solid rgb(3, 68, 153);
  transition: all 0.2s ease;
}
.btn-post:hover {
  box-shadow: inset -1px -1px 7px #fff;
}
.form-box {
  box-shadow: 0px 0px 10px grey;
  border-radius: 20px;
}
.card-header {
  text-align: center;
  font-family: "Prata", serif;
  font-weight: 700;
  letter-spacing: 1px;
  background: #090979;
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 5px grey;
  font-size: 15px;
}
.card-body {
  border-radius: 10px;
  box-shadow: 0 0 5px grey;
  margin: 10px 0;
  padding: 20px;
  background-color: #fff;
}
.form-title {
  width: 100%;
  height: 40px;
  border: none;
  text-align: center;
  outline: none;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  border-bottom: 2px solid rgb(3, 68, 153);
  box-shadow: inset 1px 1px 5px grey;
}
.form-textbox {
  margin: 20px 0;
  padding: 10px;
  width: 100%;
  height: 100px;
  border: none;
  outline: none;
  box-shadow: inset 1px 1px 5px grey;
  font-family: "Nunito", sans-serif;
  border-radius: 10px;
  border-bottom: 2px solid rgb(3, 68, 153);
}
.post-pic {
  margin: 15px 0;
  padding: 5px;
  width: 250px;
  font-family: "Nunito", sans-serif;
  opacity: 0.8;
  letter-spacing: 0;
  font-weight: 700;
}
.uplaod-msg {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  font-family: "Prata", serif;
  opacity: 0.4;
  font-weight: 700;
}
.upload-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upload {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
}
.NotSignInPostPage {
  height: 100px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  background-color: #fff;
  color: gray !important;
  text-transform: uppercase;
}
.NotSignInLink {
  text-decoration: none !important;
  padding: 0 5px;
  font-weight: 600;
  text-transform: uppercase;
  color: #090979;
  text-shadow: 1px 1px 5px lightblue;
}
.post-form {
  margin-top: 0px;
}
.form-textbox {
  height: 40px !important;
  text-align: center;
}
