button {
  max-width: 150px;
  margin: 20px 0;
  padding: 12px 20px;
  border-style: none;
  border-radius: 5px;
  background-color: #08c;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: 0.5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.postshape {
  margin-left: 15px;
  border: #007eff;
  border-style: hidden;
  margin-top: 20px;
}

.title {
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.postbody {
  margin-top: 20px;
  border-color: #007eff;
  margin-bottom: 0px;
  margin-left: 10px;
  padding-top: 25px;
}
.PostPageHandle {
  display: inline;
  font-weight: 100;
  font-size: medium;
  float: left;
  padding-top: 10px;
  margin-right: 0px;
}
.like-share-comment-bookmark {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2px 0;
}
.time-tags {
  margin-top: 0px;
  display: flex;
  align-items: center;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.PostPageLink {
  text-decoration: none;
}

.postimage {
  min-width: 400px;
  min-height: 150px;
}

/* ::::::::::::::::::::::::::::: */

.PostPagePostContainer {
  background-color: #fff;
  margin: 10px 10px !important;
  border-radius: 10px;
  box-shadow: 0 0 20px lightgray;
  transform: scale(0.9);
}
.PostPagePostHeader {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(238, 236, 236);
}
.PostPageUserShape {
  padding: 0 5px;
  margin-top: 10px;
}
.PostPageUserHandleHeader {
  margin-left: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}
.PostPageUserHandleInfo {
  display: flex;
  align-items: center;
}
.PostPageHandle {
  display: flex;
  flex: 1 !important;
  font-size: 25px;
  font-weight: 500;
  color: rgb(61, 60, 60);
  font-family: "Nunito", sans-serif;
}
.PostPageMoreIcon {
  color: #555;
}
.userHandleDate {
  font-size: 15px;
  color: #aaa;
  margin-top: -18px;
}
.PostPageTitle {
  flex: 1;
  text-decoration: none;
  color: black;
  margin: 10px 20px;
  font-size: 20px;
  word-wrap: break-word;
}
.PostPageImgBox {
  width: auto;
  height: auto;
}
.PostPagePostImage {
  object-fit: contain;
  width: 100%;
  max-height: auto;
  box-shadow: 0 0 5px lightgray;
}
.PostPageLinkContainer {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  border-bottom: 2px solid rgb(238, 236, 236);
}
.PostPagePostLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  text-decoration: none;
  color: rgb(1, 1, 150);
  text-transform: uppercase;
  text-shadow: 0px 0px 1px gray;
  font-weight: 600;
  padding: 2px 10px;
  border: 2px solid rgb(238, 236, 236);
  border-radius: 10px;
  background-color: rgb(238, 236, 236);
  font-size: 10px;
}
.PostPagePostTag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  text-decoration: none;
  color: rgb(1, 1, 150);
  font-size: 10px;
  padding: 0px 10px;
  border: 2px solid rgb(238, 236, 236);
  border-radius: 10px;
  background-color: rgb(238, 236, 236);
}
.PostPagePostTag span {
  font-size: 10px;
  font-weight: 600;
  color: #555;
  border-right: 1px solid rgb(150, 150, 150);
  letter-spacing: 0.5px;
  padding-right: 5px;
  margin-right: 5px;
}
.PostPageLikeBox {
  display: flex !important;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 2px solid rgb(238, 236, 236);
}
.PostPageLike {
  display: flex;
  padding: 0 20px;
  border: 2px solid rgb(238, 236, 236);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 236, 236);
  border-right: 2px solid rgb(128, 127, 127);
  border-radius: 10px 0px 0px 10px;
}
.PostPageLike p {
  font-size: 15px;
  color: #555;
}
.PostPageLikeButton {
  color: rgb(4, 4, 119);
  margin-right: 10px;
}

.PostPageComment {
  display: flex;
  padding: 0 20px;
  border: 2px solid rgb(238, 236, 236);
  justify-content: space-around;
  align-items: center;
  background-color: rgb(238, 236, 236);
  border-radius: 0px 10px 10px 0;
}
.PostPageComment p {
  font-size: 15px;
  color: #555;
}
.PostPageCommentButton {
  color: rgb(4, 4, 119);
  margin-right: 10px;
}
.PostPageCommentButtonFooter {
  color: black;
}
.PostPageShareButtonFooter {
  color: rgb(2, 97, 2);
}
.PostPageReportButtonFooter {
  color: rgb(156, 2, 2);
}
.PostPageDeleteBox {
  margin: 20px;
}
.PostPageDeleteButton {
  color: rgb(214, 10, 10);
}
.PostPageTitleBox {
  display: flex;
}
