
  button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }
  
  button:disabled {
    opacity: .5;
    cursor: not-allowed !important;
  }
  
  button + button {
    margin-left: .5rem;
  }
  
  button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
  }
  
  .postshape{
     margin-left: 15px;
  }
  .usershape {
    margin-top: 5px;
    border-radius: 100%;
    border-color:grey;
    border-style: solid;
    border-width: 0.2mm;
    padding: 0px;
    width: 50px;
    height: 50px;
    margin-bottom: 0px;
  }
  .title{
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    font-style: italic;
  }

.postbody{
    margin-top: 0px;
    border-color: #007eff;
    margin-bottom: 0px;
    margin-left: 10px;
}
.handle{
    padding-top: 0px;
    margin-top: 0px;
    font-weight: 100;
    font-size: medium;
}
.like-comment{
  margin-top: 0px;
  display: flex;
  align-items: center;
}
.time-tags {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none; 
  color: black;
}