/*::::::::::::::::::::::::::::::::::::::::::::::::::::*/

.SignUpContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  background-color: rgb(247, 244, 244);
}
.SignUpBox {
  position: relative;
  margin: 20px;
  margin-top: -20px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  max-width: 600px;
  background-color: #fff;
  transform: scale(0.85);
}
.DefaultPic {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
}
/* .DefaultPicLook {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
} */
.SignUpHeader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(224, 223, 223);
  margin-bottom: 10px;
}
.SignUpHeaderImg {
  padding: 10px 20px;
}
.SignUpHeader img {
  height: 100px;
  width: 100px;
}
.SignUpHeading {
  flex: 0.9;
  font-size: 40px;
  text-align: center;
  font-family: "Piazzolla", serif;
  color: rgb(4, 2, 119);
}
.SignUpUserName {
  border: none !important;
}
.SignUpSubmit {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 10px 10px;
  justify-content: space-evenly;
}
.SignUpSubmit button {
  flex: 0.4;
  background-color: rgb(2, 2, 66);
  color: #fff;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.SignUpSubmit button:hover {
  background-color: rgb(7, 7, 172);
}
.SignUpLink {
  flex: 0.6;
}
/*::::::::::::::::::::::::::::::::::::::::*/

.LogInContainer {
  width: 100%;
  height: 100vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 20px;
  padding-top: 0px;
  background-color: rgb(247, 244, 244);
}
.LogInBox {
  margin: 20px;
  margin-top: -80px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  max-width: 600px;
  background-color: #fff;
  transform: scale(0.85);
}
@media screen and (max-width: 590px) {
  .LogInContainer {
    height: 50vh;
  }
  .LogInBox {
    margin-top: 100px;
    margin-right: 50px;
  }
  .SignUpBox {
    margin-right: 50px;
  }
  .linkToSignUp {
    flex: 0.5;
    margin-left: 20px;
    font-size: 13px;
  }
  .SignUpLink {
    flex: 0.5;
    margin-left: 20px;
    font-size: 13px;
  }
  .SignUpHeading {
    font-size: 30px;
  }
  .SignUpHeader img {
    height: 70px;
    width: 70px;
  }
}
