.navbar {
  background-color: rgb(2, 11, 31) !important;
  width: 100% !important;
  position: fixed !important;
  top: 0;
  z-index: 1;
  display: flex;
  height: 80px;
  padding-top: 10px;
}
.navBarContainer {
  display: flex;
  align-items: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Piazzolla", serif;
  padding-left: 20px;
  flex: 0.6;
}
.nav-link {
  text-decoration: none;
  color: #fff;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 20px;
}

.nav-link h3 {
  padding-bottom: 5px;
  color: #fff;
  font-size: 20px;
  border-top: 2px solid rgb(3, 64, 194);
  transition: all 0.3s ease-in-out;
}
.nav-link h3:hover {
  color: rgb(3, 64, 194);
  border-top: none;
  border-bottom: 2px solid rgb(3, 64, 194);
}
.NavBarUserShape {
  object-fit: contain;
}
.scrollToTop {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100000000000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background-color: rgb(3, 98, 161);
  border: 2px solid rgb(3, 98, 161);
  padding: 20px;
  margin: 5px;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.scrollToTop:hover {
  color: rgb(3, 98, 161);
  background-color: #fff;
  border: 2px solid rgb(3, 98, 161);
}
.NavBarSectionLogoBox {
  flex: 0.2;
  position: relative;
  display: flex;
}
.nav-logo {
  position: absolute;
  top: -3.5vw;
  left: 1vw;
  max-height: 10px;
  max-width: 15px;
  min-height: 6vw;
  min-width: 7vw;
}
.nav-title {
  position: absolute;
  font-size: 3vw;
  font-family: "Piazzolla", serif;
  font-weight: 600;
  color: rgb(3, 64, 194);
  padding-left: 15px;
  padding-right: 5px;
  letter-spacing: 1px;
  top: -6.5vw;
  left: 2vw;
  text-shadow: 0 0 2px black;
}
.UserButtonBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0.2;
}
.userButtonImgBox {
  flex: 0.2;
  margin-bottom: 20px;
  max-height: 10px;
  max-width: 10px;
  min-height: 4vw;
  min-width: 4vw;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgb(3, 3, 126);
}
.userButtonImg {
  max-height: 10px;
  max-width: 10px;
  min-height: 4vw;
  min-width: 4vw;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .nav-logo {
    position: absolute;
    top: 8px;
    max-height: 10px;
    max-width: 15px;
    min-height: 8vw;
    min-width: 9vw;
  }
  .nav-title {
    position: absolute;
    font-size: 5vw;
    font-family: "Piazzolla", serif;
    font-weight: 600;
    color: rgb(3, 64, 194);
    padding-left: 15px;
    padding-right: 5px;
    letter-spacing: 1px;
    top: -4.7vw;
    left: 2vw;
    text-shadow: 0 0 2px black;
  }
  .nav-links {
    display: none;
  }
  .UserButtonBox {
    display: none;
  }
  .NavBarSectionLogoBox {
    flex: 0.7;
  }
}
.fa-bars {
  font-size: 30px;
  transition: all 0.3s ease-in-out;
  z-index: 100000000000;
}
.fa-bars:hover {
  color: rgb(5, 5, 170);
}
@media screen and (max-width: 590px) {
  .nav-logo {
    position: absolute;
    top: 8px;
    max-height: 10px;
    max-width: 15px;
    min-height: 12vw;
    min-width: 13vw;
  }
  .nav-title {
    position: absolute;
    font-size: 8vw;
    font-family: "Piazzolla", serif;
    font-weight: 600;
    color: rgb(3, 64, 194);
    padding-left: 15px;
    padding-right: 5px;
    letter-spacing: 1px;
    top: -8.7vw;
    left: 2vw;
    text-shadow: 0 0 2px black;
  }
}
