.addCommentContainer{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.commentinp{
    margin:0px 5px;
}

.commentbtn{
    margin:0px 5px;
}
.delete-btn button{
    float: right;
    margin-left: 280px;
    color: red;
    background-color: whitesmoke;
}