.addCommentContainer{
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 5px;
}
.comments {
    padding-left: 5px;
    font-family: monospace;

}
.commentinp{
    margin:0px 5px;
    font-family: monospace;
}

.commentbtn{
    margin:0px 5px;
}
