.addCommentContainer{
    margin-top: 0px;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    padding-right: 5px;
}
.comments {
    padding-left: 5px;
    font-family: monospace;

}
.commentinp{
    margin:0px 5px;
    font-family: monospace;
}

.commentbtn{
    margin:0px 5px;
}
.delete-btn button{
    float: right;
    color: red;
    background-color: whitesmoke;
}
.postshape{
    margin-left: 15px;
    border: #007eff;
    border-style: hidden;
 }

 .time-tags {
    margin-top: 0px;
    display: flex;
    align-items: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .like-share-comment-bookmark{
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }  
