.help-navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: -30px;
}
.help-content {
  display: flex;
  justify-content: center;
  height: 120vh;
}
.side-menu-title {
  color: rgb(2, 76, 150);
  text-decoration: none;
  margin-left: 2vw;
  margin-right: 3vw;
  font-size: 2.5vw;
  transition: all 0.2s ease-in-out;
}
.side-menu-title:hover {
  color: rgb(82, 140, 197);
}

.title-right {
  color: rgb(3, 94, 185);
  font-size: 3vw;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 1em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgb(105, 166, 228);
}

.support-img {
  height: 20vw;
  width: 20vw;
  margin-left: 10px;
  object-fit: contain;
}

.faq-img {
  height: 400px;
  width: 450px;
  margin-left: 150px;
}

.list-faq {
  margin-right: 80px;
  text-decoration: none;
  list-style-type: none;
}

.faq-que {
  border-radius: 15px;
}

.faq-ans {
  padding-left: 10px;
}

.sup-text {
  background-color: none;
  color: rgb(65, 63, 63);
  text-shadow: 2px 2px 5px rgb(170, 169, 169);
  font-size: 2.2vw;
  margin-left: 1vw;
  font-family: "Nunito", sans-serif;
  text-align: start;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top: 20px;
}

.btn-ask {
  margin: 2vw;
  margin-left: 1vw;
  height: 30px;
  padding: 0vw 1vw;
  background: none;
  border: 1px solid rgb(82, 140, 197);
  color: rgb(82, 140, 197);
  font-weight: 200;
  font-size: 1.5vw;
  transition: all 0.5s ease-in-out;
}
.btn-ask:hover {
  background-color: rgb(82, 140, 197);
  border: none;
  color: #fff;
}

.content-name {
  position: absolute;
  bottom: 0px;
  left: 0;
  font-size: 1.2vw;
  color: rgb(163, 163, 163);
  transition: all 0.3s ease;
}

.main-box {
  display: flex;
  box-shadow: 2px 2px 10px grey;
  padding: 20px;
  align-items: center;
  border-radius: 10px;
}
.main-inside {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  padding-left: 2vw;
  border-left: 4px dashed rgb(82, 140, 197);
}
.responce-msg {
  color: green;
  margin-left: 1vw;
  font-family: "Nunito", sans-serif;
  text-align: start;
  font-size: 1.5vw;
}
.faq-header {
  display: flex;
  box-shadow: 2px 2px 10px grey;
  padding: 2.2vw;
  margin-right: 5vw;
  margin-left: 5vw;
  border-radius: 20px;
}
.faq-image {
  height: 15vw;
  width: 20vw;
}
.faq-head-para {
  text-shadow: 2px 2px 5px rgb(170, 169, 169);
  font-size: 1.5vw;
  font-weight: 500;
  font-family: "Nunito", sans-serif;
  border-left: 0.3vw dashed rgb(82, 140, 197);
  padding-left: 2vw;
  line-height: 40px;
}
.faq-head-para span {
  color: rgb(4, 86, 167);
  text-shadow: 0px 0px 10px rgb(0, 173, 253);
}
.faq-list {
  box-shadow: 2px 2px 10px grey;
  padding: 2.2vw;
  margin-right: 3vw;
  border-radius: 20px;
  font-family: "Nunito", sans-serif;
  transition: all 0.5s ease;
  margin-right: 5vw;
  margin-left: 5vw;
}
.faq-list-li .fa {
  color: rgb(2, 58, 114);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(0, 173, 253);
  background-color: rgb(82, 140, 197);
  font-size: 2vw;
  margin-left: 1vw;
  padding: 0.3vw 0.6vw;
  transition: all 0.2s ease;
}
.faq-list-li .fa:hover {
  cursor: pointer;
  background-color: rgb(2, 58, 114);
  color: rgb(82, 140, 197);
}
.faq-que {
  margin-left: 2vw;
  text-shadow: 1px 1px 8px rgb(170, 169, 169);
  font-size: 1.5vw;
}
.faq-ans {
  font-size: 1.5vw;
  margin: 0vw 5vw;
  transition: all 0.5s ease;
  font-family: "Open Sans Condensed", sans-serif;
}
.list-hr {
  background-color: rgb(2, 58, 114);
}
.help-main {
  transform: scale(0.9);
}

@media screen and (max-width: 590px) {
  .help-main {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .help-navBar {
    background-color: rgb(2, 2, 77);
    flex: 1;
    color: #fff !important;
  }
  .side-menu-title {
    color: #fff !important;
  }
  .FaqSectionContainer {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0, 0, 255, 0.356); */
  }
  .faq-header {
    margin: 20px;
    transform: translateX(0vw);
    height: auto;
  }
  .faq-head-para {
    padding: 10px;
    padding-right: 0;
    word-wrap: break-word;
    text-shadow: 2px 2px 5px rgb(170, 169, 169);
    font-size: 13px;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
    border-left: 0.3vw dashed rgb(82, 140, 197);
    padding-left: 2vw;
    line-height: 20px;
  }
  .faq-image {
    height: 30vw;
    width: 35vw;
  }
  .faq-list {
    box-shadow: 2px 2px 10px grey;
    padding: 2.2vw;
    margin-right: 3vw;
    border-radius: 20px;
    font-family: "Nunito", sans-serif;
    transition: all 0.5s ease;
    margin-right: 0vw;
    margin-left: 0vw;
    width: 340px;
    flex: 1;
    height: auto;
    transform: translateX(0vw);
    font-size: 20px;
    word-wrap: break-word;
  }
  .faq-que {
    font-size: 10px;
  }
  .faq-ans {
    font-size: 12px;
    font-weight: 800px;
  }
  .SupportSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title-right {
    color: rgb(3, 94, 185);
    font-size: 3vw;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    margin-bottom: 0em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgb(105, 166, 228);

    margin-top: 20px;
  }
  .main-box {
    display: flex;
    box-shadow: 2px 2px 10px grey;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
  }
  .support-img {
    width: 100px;
    margin: 0;
    padding: 0;
  }
  .sup-text {
    background: none;
    font-size: 15px;
    word-wrap: break-word;
  }
  .que-label {
    height: auto;
    width: 100px;
  }
  .content-name {
    font-size: 10px;
    padding-bottom: 10px;
  }

  .btn-ask {
    margin: 10px;
    margin-left: 1vw;
    height: 20px;
    padding: 2px 5px;
    background: none;
    border: 1px solid rgb(82, 140, 197);
    color: rgb(82, 140, 197);
    font-weight: 200;
    font-size: 6px;
    transition: all 0.5s ease-in-out;
  }
}
