.commentContainer{
    margin-top: 0px;
    display: flex;
    align-items: center;
}

.handle{
    padding-top: 0px;
    padding-right: 5px;
    margin-top: 0px;
    font-weight: 100;
    font-size: medium;
    color: black;
}
.combody {
    padding-left: 5px;
}
