.commentContainer {
  margin-top: 0px;
  display: flex;
  align-items: center;
}

.handle {
  padding-top: 0px;
  padding-right: 5px;
  margin-top: 0px;
  font-weight: 600;
  font-size: larger;
  color: black;
}
.combody {
  padding-left: 5px;
  color: black;
}
.CommentSectionContainer {
  margin: 10px 0px;
  padding: 10px 0;
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 5px lightgray;
  display: flex;
  align-items: center;
  word-wrap: break-word;
}
.CommentSectionContainer:nth-child(odd) {
  background-color: lightgray;
}
.CommentSectionHandle {
  flex: 0.2;
  margin: 0 10px;
  color: rgb(92, 91, 91);
  font-weight: 400;
}
.CommentSectionCommentBody {
  height: auto;
  flex: 0.8;
  word-wrap: break-word;
  font-size: 20px;
  font-family: "Abel", sans-serif;
  font-weight: 600;
}
@media screen and (max-width: 590px) {
  .CommentSectionContainer {
    margin: 10px 0px;
    padding: 10px 0;
    height: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 5px lightgray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    word-wrap: break-word;
  }
  .CommentSectionCommentBody {
    height: auto;
    flex: 0.8;
    word-wrap: break-word;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    font-weight: 600;
  }
  .CommentSectionCommentBody {
    margin: 0 10px;
    height: auto;
    flex: 0.8;
    word-wrap: break-word;
    font-size: 20px;
    font-family: "Abel", sans-serif;
    font-weight: 600;
  }
}
