h1 {
    color: grey;
    font-size: xx-large;
    font-weight: 600;
}

h2 {
    text-align: left;
    color: whitesmoke;
    margin-bottom: 0px;
    padding-left: 15px;
    text-decoration: dashed;
    font-size: x-large;
    font-weight: 400;
    background-color: rgb(82, 140, 197);
}

h3 {
    font-size: x-large;
    font-weight: 500;
    color: rgb(75, 75, 75);
}

hr {
    margin: 0em;
    padding: 0%;
}

p{
    padding: 0px;
    margin: 0px;
    color: grey;
}