.userstyle {
    border-style: hidden;

}
.heading {
    padding: 10px;
    background-color: #08c;
    font-size: 17px;
    font-weight: 500;
    color: white;
    outline: none;
}

.upload-btn {
    background-color: white;
    color: black;
    padding: 2px 4px;
    font-size: 14px;
    font-weight: 300;
    display:inline-block;
}

.upload-file {
    width: 200px;
    display:inline-block;
    margin-right:10px;
    font-size: 15px;
}